.failure-popup {
  width: 280px;

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px dotted black;

    .failure-popup__title {
      font-family: $font-stack;
      font-size: $font-base-size + 4px;
      font-weight: bold;
      line-height: $base-line-height + 5px;
      text-transform: uppercase;
      text-align: center;
    }

    .failure-popup__desc {
      font-family: $font-stack;
      font-size: $font-base-size;
      line-height: $base-line-height + 3px;
      text-transform: uppercase;
      text-align: center;
      margin-left: 32px;
      margin-right: 35px;
    }

    button[type="button"]  {
                display: inline-block;
                padding: 16px 80px;
                margin: 15px 51px 19px 51px;
                font-family: $font-stack;
                font-size: $font-base-size+7px;
                font-weight: bold;
                line-height: $base-line-height + 5px;
                text-transform: uppercase;
                color: $secondary-color;
                background: $bg-color-menu;
                border: none;

              }
}
