.intro {
    height: 304px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 85px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 100% 100%;
    background-position: center;
}
.intro__img {
    width: 100%;  //280px;
    height: 100%; //220px;
}
.intro--small {
    height: 115px;
    padding-top: 63px;
    padding-left: 45px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 100% 100%;
    background-position: bottom;
}
@media #{$width-tablet} {
    .intro {
        height: 520px;
        padding: 0;
        outline: 2px dashed red;
    }
    .intro--small {
        height: 292px;
        padding: 0;
    }
}
@media #{$width-desktop} {
    .intro {
        height: 520px;
    }
    .intro--small {
        height: 292px;
        padding: 0;
    }
}
