.menu {
    background-color: $bg-color-menu;
}
.menu-list__item {
    font-size: 18px;
    line-height: 2.22em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    list-style: none;

    a {
      text-decoration: none;
      color: $secondary-color;
    }
}
