.menu {
    background-color: $bg-color-menu;
}
.menu-list {
    margin: 0;
    padding: 0;
}
.menu-list__item {
    height: 46px;
    padding-top: 8px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 2.22em;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    a {
        text-decoration: none;
        color: $secondary-color;
    }
}
@media #{$width-tablet} {
    .menu {
        background-color: bg-color-main;
  }

    .menu-list {
        margin: 0;
        padding: 0;
  }

    .menu-list__item {
        display: inline-block;
        outline: 1px solid pink;
  }
}
@media #{$width-desktop} {
    .menu {
        background-color: bg-color-main;
  }

    .menu-list {
        margin: 0;
        padding: 0;
}

    .menu-list__item {
        display: inline-block;
        outline: 1px solid pink;
  }
}
