.promo {
    padding-top: 23px;
    outline: 1px dashed darkcyan;
}
.promo__title {
    font-size: 18px;
    line-height: 1.44em;
    text-transform: uppercase;
    text-align: center;
}
.promo__desc {
    margin: 36px 41px;
    line-height: 1.71em;
    text-transform: uppercase;
    text-align: center;
}
